body {
    background-color: black;
    color: yellow;
    font-family: Arial, sans-serif;
}

#buttons {
    margin: 20px 0;
}

.infoBtn {
    margin: 0 10px;
    padding: 10px;
    color: yellow;
    background-color: darkgray;
    border: none;
    cursor: pointer;
}

#servicesBtn {
    background-color: darkgreen;
}

#aboutBtn {
    background-color: darkblue;
}

#contactBtn {
    background-color: darkred;
}

.infoSection {
    display: none;
}

.green-art {
    color: lime;
}
